<form (ngSubmit)="newUser()">
  <div>
    <label>
      Nom d'utilisateur :
      <input type="text" name="name" [formControl]="name" />
    </label>
  </div>
  <div>
    <label>
      Email :
      <input type="email" name="email" [formControl]="mail" />
    </label>
  </div>
  <div>
    <label>
      Mot de passe :
      <input type="text" name="password" [formControl]="pass" />
    </label>
  </div>
  <div>
    <label>
      Adresse :
      <input type="text" name="address" [formControl]="add" />
    </label>
  </div>
  <button (click)="newUser()" type="button">Inscription</button>
</form>

<div *ngFor="let user of users">
  <div>Name : {{ user.username }}</div>
  <div>Email : {{ user.email }}</div>
  <div>Password : {{ user.password }}</div>
  <div>Address : {{ user.address }}</div>
</div>
